# Generated / build directories
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
.packages
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Firebase
google-services.json
GoogleService-Info.plist
firebase_app_id_file.json

# Coverage
coverage/
